python-dotenv
ipykernel
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
beautifulsoup4
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
langchain==0.3.7
langchain-core==0.3.17
langchain-community==0.3.7
langchain-text-splitters==0.3.2
langchain-chroma==0.1.4
streamlit
duckduckgo-search